@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Press+Start+2P&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
	themes: all;
}

@theme {
	--font-press: "Press Start 2P", static;
	--font-audiowide: "Audiowide", sans-serif;
}
