name: 'check version'

on:
  push:
    branches:
      - main

jobs:
  check_app_version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - name: Ensure tauri.conf.json was updated
        id: filecheck
        run: |
          FILE="src-tauri/tauri.conf.json"
          CHANGED=$(git diff --name-only HEAD~1 HEAD)
          echo "Changed files in last commit:"
          echo "$CHANGED"
          if echo "$CHANGED" | grep -q "^$FILE$"; then
            echo "File $FILE was updated ✅"
          else
            echo "Error: $FILE was NOT updated ❌"
            exit 1
          fi

      - name: Check version key changed
        run: |
          PREV_VERSION=$(git show HEAD~1:src-tauri/tauri.conf.json | jq -r '.version')
          CURR_VERSION=$(jq -r '.version' src-tauri/tauri.conf.json)

          echo "Previous version: $PREV_VERSION"
          echo "Current version:  $CURR_VERSION"

          if [ "$PREV_VERSION" = "$CURR_VERSION" ]; then
            echo "Error: version key did not change ❌"
            exit 1
          else
            echo "Version updated successfully ✅"
          fi
