name: Tauri Build with Bun

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - uses: oven-sh/setup-bun@v2
        with:
         bun-version: latest

      - name: Install frontend dependencies with Bun
        run: bun install

      - name: Build frontend with Bun
        run: bun run release

      - name: Upload bundle artifact
        uses: actions/upload-artifact@v5
        with:
          name: streak-${{ matrix.os }}
          path: src-tauri/target/release/bundle/**/*
